In [1]:
import pandas as pd

In [2]:
yamanishi_train = pd.read_csv('train.csv', sep='\t')
yamanishi_train

         target    drug
0      hsa:5147  D00528
1       hsa:147  D00454
2      hsa:2562  D00548
3      hsa:6340  D00552
4      hsa:1562  D01425
...         ...     ...
1947    hsa:147  D00437
1948    hsa:150  D02149
1949    hsa:773  D02914
1950   hsa:5141  D01198
1951  hsa:93589  D00512

[1952 rows x 2 columns]

In [3]:
yamanishi_valid = pd.read_csv('valid.csv', sep='\t')
yamanishi_valid

       target    drug
0     hsa:781  D00542
1     hsa:763  D00538
2     hsa:778  D00437
3    hsa:1593  D00394
4    hsa:2557  D00331
..        ...     ...
646  hsa:9177  D00283
647   hsa:783  D01295
648  hsa:4233  D03350
649  hsa:2042  D03218
650   hsa:767  D00653

[651 rows x 2 columns]

In [4]:
yamanishi_test = pd.read_csv('test.csv', sep='\t')
yamanishi_test

         target    drug
0      hsa:9311  D00538
1     hsa:11238  D00218
2     hsa:29785  D00964
3    hsa:285220  D03350
4      hsa:6324  D00303
..          ...     ...
646    hsa:6336  D00775
647    hsa:1558  D02451
648     hsa:558  D03218
649    hsa:4593  D04025
650    hsa:2043  D03252

[651 rows x 2 columns]

In [5]:
yamanishi_data = pd.concat([yamanishi_train, yamanishi_valid, yamanishi_test], ignore_index=True)
yamanishi_data

        target    drug
0     hsa:5147  D00528
1      hsa:147  D00454
2     hsa:2562  D00548
3     hsa:6340  D00552
4     hsa:1562  D01425
...        ...     ...
3249  hsa:6336  D00775
3250  hsa:1558  D02451
3251   hsa:558  D03218
3252  hsa:4593  D04025
3253  hsa:2043  D03252

[3254 rows x 2 columns]

In [6]:
symmetric_ddi = pd.read_csv('Symmetric_DDI_corpus.csv')
symmetric_ddi.head()

,Interaction,Drug1ID,Drug2ID,Drug1Label,Drug2Label,Effect,Adverse events,Impact,CUI_1,CUI_2,CUI_AdverseEvent
0,The risk or severity of bleeding and hemorrhag...,DB01254,DB00001,Dasatinib,Lepirudin,risk or severity of,Bleeding,Increase,C1455147,C0772394,C0019080
1,The risk or severity of bleeding and hemorrhag...,DB01254,DB00001,Dasatinib,Lepirudin,risk or severity of,Hemorrhage,Increase,C1455147,C0772394,C0019080
2,The risk or severity of gastrointestinal bleed...,DB00001,DB01609,Lepirudin,Deferasirox,risk or severity of,Gastrointestinal_bleeding,Increase,C0772394,C1619629,C0017181
3,The risk or severity of bleeding and bruising ...,DB00001,DB01586,Lepirudin,Ursodeoxycholic acid,risk or severity of,Bleeding,Increase,C0772394,C0042105,C0019080
4,The risk or severity of bleeding and bruising ...,DB00001,DB01586,Lepirudin,Ursodeoxycholic acid,risk or severity of,Bruising,Increase,C0772394,C0042105,C0009938

In [7]:
yamanishi_data['drug'][0]

'D00528'

In [8]:
# overlap_drugs = []
# for i in range(len(yamanishi_data)):
#     overlap_drugs.append(symmetric_ddi[symmetric_ddi['Drug1ID']==yamanishi_data['drug'][i]])
    
# print(len(overlap_drugs))

In [9]:
e_simmat = pd.read_csv('e_simmat_dc.txt', sep='\t')
e_simmat

,Unnamed: 0,D00002,D00005,D00007,D00014,D00018,D00021,D00027,D00029,D00032,...,D04092,D04197,D04292,D04966,D04983,D05341,D05353,D05407,D05458,D06238
0,D00002,1.000000,0.515625,0.038462,0.084746,0.098039,0.120000,0.083333,0.090909,0.100000,...,0.148148,0.196078,0.140351,0.019231,0.039216,0.033333,0.166667,0.215686,0.122449,0.203390
1,D00005,0.469697,1.000000,0.032787,0.073529,0.083333,0.083333,0.109091,0.095238,0.084746,...,0.145161,0.206897,0.156250,0.050847,0.050847,0.059701,0.215385,0.203390,0.122807,0.212121
2,D00007,0.038462,0.032787,1.000000,0.428571,0.100000,0.375000,0.000000,0.238095,0.400000,...,0.272727,0.038462,0.000000,0.055556,0.583333,0.217391,0.058824,0.120000,0.105263,0.057143
3,D00014,0.084746,0.073529,0.428571,1.000000,0.066667,0.230769,0.000000,0.200000,0.240000,...,0.187500,0.027778,0.000000,0.074074,0.318182,0.225806,0.045455,0.151515,0.068966,0.068182
4,D00018,0.098039,0.083333,0.100000,0.066667,1.000000,0.090909,0.000000,0.076923,0.095238,...,0.071429,0.160000,0.064516,0.000000,0.105263,0.034483,0.027027,0.153846,0.045455,0.026316
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
440,D05341,0.033333,0.059701,0.217391,0.225806,0.034483,0.153846,0.000000,0.259259,0.160000,...,0.200000,0.029412,0.026316,0.038462,0.285714,1.000000,0.047619,0.125000,0.074074,0.046512
441,D05353,0.166667,0.215385,0.058824,0.045455,0.027027,0.151515,0.172414,0.024390,0.121212,...,0.257143,0.162162,0.205128,0.060606,0.093750,0.047619,1.000000,0.222222,0.233333,0.394737
442,D05407,0.215686,0.203390,0.120000,0.151515,0.153846,0.111111,0.181818,0.133333,0.160000,...,0.241379,0.296296,0.147059,0.038462,0.125000,0.125000,0.222222,1.000000,0.115385,0.216216
443,D05458,0.122449,0.122807,0.105263,0.068966,0.045455,0.533333,0.187500,0.038462,0.294118,...,0.380952,0.076923,0.185185,0.176471,0.176471,0.074074,0.233333,0.115385,1.000000,0.266667
444,D06238,0.203390,0.212121,0.057143,0.068182,0.026316,0.181818,0.129032,0.023810,0.151515,...,0.250000,0.128205,0.200000,0.125000,0.090909,0.046512,0.394737,0.216216,0.266667,1.000000

In [10]:
x=e_simmat[e_simmat['Unnamed: 0']=='D00528']
max(list(x.iloc[0, 1:]))

1.0

In [11]:
x

,Unnamed: 0,D00002,D00005,D00007,D00014,D00018,D00021,D00027,D00029,D00032,...,D04092,D04197,D04292,D04966,D04983,D05341,D05353,D05407,D05458,D06238
141,D00528,0.115385,0.175439,0.0,0.0,0.0,0.083333,0.294118,0.034483,0.136364,...,0.230769,0.24,0.206897,0.095238,0.045455,0.032258,0.25,0.28,0.190476,0.242424

In [12]:
print("Second largest element is:", sorted(list(x.iloc[0, 1:]))[-2])

Second largest element is: 0.8

In [13]:
x.loc[:,['0.8' in i for i in x.columns]]

Empty DataFrame
Columns: []
Index: [141]

In [14]:
for i in x.columns:
    print(x[i])

141    D00528
Name: Unnamed: 0, dtype: object
141    0.115385
Name: D00002, dtype: float64
141    0.175439
Name: D00005, dtype: float64
141    0.0
Name: D00007, dtype: float64
141    0.0
Name: D00014, dtype: float64
141    0.0
Name: D00018, dtype: float64
141    0.083333
Name: D00021, dtype: float64
141    0.294118
Name: D00027, dtype: float64
141    0.034483
Name: D00029, dtype: float64
141    0.136364
Name: D00032, dtype: float64
141    0.0
Name: D00035, dtype: float64
141    0.15
Name: D00036, dtype: float64
141    0.0
Name: D00037, dtype: float64
141    0.095238
Name: D00038, dtype: float64
141    0.1
Name: D00039, dtype: float64
141    0.047619
Name: D00041, dtype: float64
141    0.136364
Name: D00043, dtype: float64
141    0.222222
Name: D00045, dtype: float64
141    0.15
Name: D00049, dtype: float64
141    0.28125
Name: D00050, dtype: float64
141    0.0
Name: D00052, dtype: float64
141    0.269231
Name: D00054, dtype: float64
141    0.25
Name: D00055, dtype: float64
141    0.095238
Name: D00065, dtype: float64
141    0.179487
Name: D00070, dtype: float64
141    0.0
Name: D00086, dtype: float64
141    0.090909
Name: D00094, dtype: float64
141    0.142857
Name: D00097, dtype: float64
141    0.0
Name: D00103, dtype: float64
141    0.074627
Name: D00107, dtype: float64
141    0.173913
Name: D00109, dtype: float64
141    0.24
Name: D00118, dtype: float64
141    0.181818
Name: D00120, dtype: float64
141    0.166667
Name: D00125, dtype: float64
141    0.208333
Name: D00126, dtype: float64
141    0.233333
Name: D00127, dtype: float64
141    0.073171
Name: D00129, dtype: float64
141    0.185185
Name: D00130, dtype: float64
141    0.111111
Name: D00131, dtype: float64
141    0.178571
Name: D00132, dtype: float64
141    0.111111
Name: D00136, dtype: float64
141    0.25
Name: D00139, dtype: float64
141    0.21875
Name: D00141, dtype: float64
141    0.175
Name: D00142, dtype: float64
141    0.296296
Name: D00145, dtype: float64
141    0.205128
Name: D00148, dtype: float64
141    0.230769
Name: D00151, dtype: float64
141    0.090909
Name: D00153, dtype: float64
141    0.178571
Name: D00155, dtype: float64
141    0.241379
Name: D00158, dtype: float64
141    0.0
Name: D00160, dtype: float64
141    0.148148
Name: D00168, dtype: float64
141    0.206897
Name: D00169, dtype: float64
141    0.347826
Name: D00183, dtype: float64
141    0.053191
Name: D00184, dtype: float64
141    0.129032
Name: D00185, dtype: float64
141    0.1875
Name: D00186, dtype: float64
141    0.075
Name: D00187, dtype: float64
141    0.076923
Name: D00188, dtype: float64
141    0.214286
Name: D00196, dtype: float64
141    0.153846
Name: D00198, dtype: float64
141    0.039474
Name: D00203, dtype: float64
141    0.117647
Name: D00208, dtype: float64
141    0.017544
Name: D00216, dtype: float64
141    0.136364
Name: D00217, dtype: float64
141    0.173913
Name: D00218, dtype: float64
141    0.090909
Name: D00219, dtype: float64
141    0.304348
Name: D00222, dtype: float64
141    0.263158
Name: D00224, dtype: float64
141    0.2
Name: D00225, dtype: float64
141    0.419355
Name: D00227, dtype: float64
141    0.272727
Name: D00231, dtype: float64
141    0.142857
Name: D00234, dtype: float64
141    0.037037
Name: D00251, dtype: float64
141    0.142857
Name: D00252, dtype: float64
141    0.25
Name: D00270, dtype: float64
141    0.15
Name: D00274, dtype: float64
141    0.2
Name: D00279, dtype: float64
141    0.15625
Name: D00283, dtype: float64
141    0.181818
Name: D00285, dtype: float64
141    0.214286
Name: D00293, dtype: float64
141    0.217391
Name: D00294, dtype: float64
141    0.045455
Name: D00298, dtype: float64
141    0.178571
Name: D00300, dtype: float64
141    0.25
Name: D00315, dtype: float64
141    0.275862
Name: D00317, dtype: float64
141    0.16129
Name: D00322, dtype: float64
141    0.069444
Name: D00324, dtype: float64
141    0.088889
Name: D00325, dtype: float64
141    0.097561
Name: D00328, dtype: float64
141    0.230769
Name: D00330, dtype: float64
141    0.0
Name: D00332, dtype: float64
141    0.28
Name: D00333, dtype: float64
141    0.107143
Name: D00340, dtype: float64
141    0.24
Name: D00342, dtype: float64
141    0.075
Name: D00359, dtype: float64
141    0.046512
Name: D00362, dtype: float64
141    0.171429
Name: D00364, dtype: float64
141    0.064516
Name: D00369, dtype: float64
141    0.8
Name: D00371, dtype: float64
141    0.136364
Name: D00377, dtype: float64
141    0.142857
Name: D00380, dtype: float64
141    0.097561
Name: D00383, dtype: float64
141    0.193548
Name: D00387, dtype: float64
141    0.214286
Name: D00391, dtype: float64
141    0.241379
Name: D00394, dtype: float64
141    0.310345
Name: D00398, dtype: float64
141    0.235294
Name: D00401, dtype: float64
141    0.24
Name: D00410, dtype: float64
141    0.2
Name: D00414, dtype: float64
141    0.147059
Name: D00416, dtype: float64
141    0.304348
Name: D00417, dtype: float64
141    0.115385
Name: D00418, dtype: float64
141    0.1
Name: D00421, dtype: float64
141    0.148148
Name: D00423, dtype: float64
141    0.24
Name: D00425, dtype: float64
141    0.073171
Name: D00434, dtype: float64
141    0.181818
Name: D00437, dtype: float64
141    0.135135
Name: D00448, dtype: float64
141    0.102564
Name: D00449, dtype: float64
141    0.259259
Name: D00451, dtype: float64
141    0.185185
Name: D00452, dtype: float64
141    0.241379
Name: D00454, dtype: float64
141    0.310345
Name: D00455, dtype: float64
141    0.146341
Name: D00459, dtype: float64
141    0.16129
Name: D00463, dtype: float64
141    0.137931
Name: D00475, dtype: float64
141    0.217391
Name: D00487, dtype: float64
141    0.24
Name: D00488, dtype: float64
141    0.259259
Name: D00494, dtype: float64
141    0.095238
Name: D00496, dtype: float64
141    0.619048
Name: D00501, dtype: float64
141    0.138889
Name: D00503, dtype: float64
141    0.074074
Name: D00505, dtype: float64
141    0.15625
Name: D00510, dtype: float64
141    0.137931
Name: D00512, dtype: float64
141    0.230769
Name: D00513, dtype: float64
141    0.0
Name: D00515, dtype: float64
141    0.0
Name: D00516, dtype: float64
141    0.153846
Name: D00518, dtype: float64
141    0.192308
Name: D00519, dtype: float64
141    0.166667
Name: D00521, dtype: float64
141    1.0
Name: D00528, dtype: float64
141    0.275862
Name: D00530, dtype: float64
141    0.178571
Name: D00533, dtype: float64
141    0.0
Name: D00535, dtype: float64
141    0.068966
Name: D00536, dtype: float64
141    0.090909
Name: D00537, dtype: float64
141    0.166667
Name: D00538, dtype: float64
141    0.0
Name: D00542, dtype: float64
141    0.0
Name: D00543, dtype: float64
141    0.047619
Name: D00544, dtype: float64
141    0.0
Name: D00545, dtype: float64
141    0.0
Name: D00546, dtype: float64
141    0.0
Name: D00547, dtype: float64
141    0.35
Name: D00549, dtype: float64
141    0.233333
Name: D00550, dtype: float64
141    0.142857
Name: D00560, dtype: float64
141    0.25
Name: D00562, dtype: float64
141    0.214286
Name: D00563, dtype: float64
141    0.136364
Name: D00566, dtype: float64
141    0.176471
Name: D00567, dtype: float64
141    0.16129
Name: D00568, dtype: float64
141    0.173913
Name: D00569, dtype: float64
141    0.192308
Name: D00574, dtype: float64
141    0.214286
Name: D00577, dtype: float64
141    0.0
Name: D00579, dtype: float64
141    0.277778
Name: D00584, dtype: float64
141    0.142857
Name: D00593, dtype: float64
141    0.146341
Name: D00596, dtype: float64
141    0.15
Name: D00620, dtype: float64
141    0.088889
Name: D00621, dtype: float64
141    0.102041
Name: D00622, dtype: float64
141    0.159091
Name: D00623, dtype: float64
141    0.071429
Name: D00624, dtype: float64
141    0.0
Name: D00625, dtype: float64
141    0.0
Name: D00630, dtype: float64
141    0.108108
Name: D00650, dtype: float64
141    0.111111
Name: D00651, dtype: float64
141    0.15625
Name: D00652, dtype: float64
141    0.172414
Name: D00653, dtype: float64
141    0.096774
Name: D00654, dtype: float64
141    0.217391
Name: D00655, dtype: float64
141    0.133333
Name: D00656, dtype: float64
141    0.096774
Name: D00658, dtype: float64
141    0.142857
Name: D00667, dtype: float64
141    0.194444
Name: D00670, dtype: float64
141    0.684211
Name: D00691, dtype: float64
141    0.0
Name: D00703, dtype: float64
141    0.083333
Name: D00709, dtype: float64
141    0.214286
Name: D00726, dtype: float64
141    0.258065
Name: D00733, dtype: float64
141    0.178571
Name: D00749, dtype: float64
141    0.184211
Name: D00752, dtype: float64
141    0.067568
Name: D00753, dtype: float64
141    0.12
Name: D00762, dtype: float64
141    0.190476
Name: D00771, dtype: float64
141    0.2
Name: D00781, dtype: float64
141    0.16
Name: D00785, dtype: float64
141    0.214286
Name: D00786, dtype: float64
141    0.083333
Name: D00805, dtype: float64
141    0.24
Name: D00810, dtype: float64
141    0.138889
Name: D00813, dtype: float64
141    0.083333
Name: D00826, dtype: float64
141    0.114286
Name: D00827, dtype: float64
141    0.0
Name: D00829, dtype: float64
141    0.131579
Name: D00882, dtype: float64
141    0.033898
Name: D00884, dtype: float64
141    0.128205
Name: D00885, dtype: float64
141    0.089888
Name: D00887, dtype: float64
141    0.2
Name: D00889, dtype: float64
141    0.216216
Name: D00892, dtype: float64
141    0.071429
Name: D00893, dtype: float64
141    0.078947
Name: D00900, dtype: float64
141    0.027778
Name: D00902, dtype: float64
141    0.172414
Name: D00903, dtype: float64
141    0.172414
Name: D00904, dtype: float64
141    0.117647
Name: D00947, dtype: float64
141    0.241379
Name: D00960, dtype: float64
141    0.125
Name: D00963, dtype: float64
141    0.16129
Name: D00964, dtype: float64
141    0.241379
Name: D00965, dtype: float64
141    0.12766
Name: D00968, dtype: float64
141    0.275862
Name: D00969, dtype: float64
141    0.230769
Name: D00970, dtype: float64
141    0.285714
Name: D00994, dtype: float64
141    0.24
Name: D00995, dtype: float64
141    0.2
Name: D00998, dtype: float64
141    0.155556
Name: D01001, dtype: float64
141    0.081633
Name: D01027, dtype: float64
141    0.173077
Name: D01061, dtype: float64
141    0.210526
Name: D01064, dtype: float64
141    0.097561
Name: D01069, dtype: float64
141    0.148148
Name: D01071, dtype: float64
141    0.12
Name: D01097, dtype: float64
141    0.233333
Name: D01118, dtype: float64
141    0.119048
Name: D01119, dtype: float64
141    0.285714
Name: D01122, dtype: float64
141    0.21875
Name: D01133, dtype: float64
141    0.0
Name: D01136, dtype: float64
141    0.128205
Name: D01164, dtype: float64
141    0.055556
Name: D01180, dtype: float64
141    0.185185
Name: D01183, dtype: float64
141    0.166667
Name: D01196, dtype: float64
141    0.2
Name: D01198, dtype: float64
141    0.139535
Name: D01211, dtype: float64
141    0.21875
Name: D01223, dtype: float64
141    0.15
Name: D01228, dtype: float64
141    0.038961
Name: D01240, dtype: float64
141    0.085714
Name: D01256, dtype: float64
141    0.177778
Name: D01264, dtype: float64
141    0.148936
Name: D01275, dtype: float64
141    0.129032
Name: D01276, dtype: float64
141    0.185185
Name: D01325, dtype: float64
141    0.157895
Name: D01332, dtype: float64
141    0.1
Name: D01346, dtype: float64
141    0.178571
Name: D01364, dtype: float64
141    0.108108
Name: D01367, dtype: float64
141    0.222222
Name: D01370, dtype: float64
141    0.25
Name: D01397, dtype: float64
141    0.153846
Name: D01425, dtype: float64
141    0.177778
Name: D01432, dtype: float64
141    0.166667
Name: D01441, dtype: float64
141    0.266667
Name: D01475, dtype: float64
141    0.153846
Name: D01513, dtype: float64
141    0.206897
Name: D01547, dtype: float64
141    0.157895
Name: D01549, dtype: float64
141    0.173913
Name: D01565, dtype: float64
141    0.222222
Name: D01578, dtype: float64
141    0.194444
Name: D01582, dtype: float64
141    0.0
Name: D01665, dtype: float64
141    0.142857
Name: D01667, dtype: float64
141    0.129032
Name: D01688, dtype: float64
141    0.194444
Name: D01690, dtype: float64
141    0.114286
Name: D01704, dtype: float64
141    0.129032
Name: D01709, dtype: float64
141    0.684211
Name: D01712, dtype: float64
141    0.241379
Name: D01715, dtype: float64
141    0.21875
Name: D01718, dtype: float64
141    0.159091
Name: D01747, dtype: float64
141    0.097561
Name: D01765, dtype: float64
141    0.241379
Name: D01767, dtype: float64
141    0.142857
Name: D01811, dtype: float64
141    0.095238
Name: D01825, dtype: float64
141    0.285714
Name: D01828, dtype: float64
141    0.129032
Name: D01840, dtype: float64
141    0.172414
Name: D01842, dtype: float64
141    0.008772
Name: D01844, dtype: float64
141    0.069444
Name: D01862, dtype: float64
141    0.233333
Name: D01866, dtype: float64
141    0.134615
Name: D01885, dtype: float64
141    0.153846
Name: D01888, dtype: float64
141    0.105263
Name: D01900, dtype: float64
141    0.1875
Name: D01907, dtype: float64
141    0.123077
Name: D01911, dtype: float64
141    0.109589
Name: D01915, dtype: float64
141    0.166667
Name: D01918, dtype: float64
141    0.1
Name: D01966, dtype: float64
141    0.107143
Name: D01968, dtype: float64
141    0.166667
Name: D01973, dtype: float64
141    0.193548
Name: D01974, dtype: float64
141    0.184211
Name: D01977, dtype: float64
141    0.066667
Name: D01981, dtype: float64
141    0.157895
Name: D01984, dtype: float64
141    0.162162
Name: D02008, dtype: float64
141    0.619048
Name: D02017, dtype: float64
141    0.259259
Name: D02042, dtype: float64
141    0.2
Name: D02068, dtype: float64
141    0.194444
Name: D02110, dtype: float64
141    0.170732
Name: D02115, dtype: float64
141    0.116279
Name: D02166, dtype: float64
141    0.243243
Name: D02168, dtype: float64
141    0.2
Name: D02173, dtype: float64
141    0.136364
Name: D02176, dtype: float64
141    0.111111
Name: D02193, dtype: float64
141    0.054054
Name: D02194, dtype: float64
141    0.148936
Name: D02214, dtype: float64
141    0.2
Name: D02229, dtype: float64
141    0.086957
Name: D02258, dtype: float64
141    0.0
Name: D02267, dtype: float64
141    0.114286
Name: D02289, dtype: float64
141    0.206897
Name: D02290, dtype: float64
141    0.0
Name: D02304, dtype: float64
141    0.0
Name: D02308, dtype: float64
141    0.030303
Name: D02315, dtype: float64
141    0.2
Name: D02321, dtype: float64
141    0.225806
Name: D02323, dtype: float64
141    0.162162
Name: D02328, dtype: float64
141    0.093023
Name: D02333, dtype: float64
141    0.285714
Name: D02335, dtype: float64
141    0.222222
Name: D02341, dtype: float64
141    0.15625
Name: D02342, dtype: float64
141    0.185185
Name: D02350, dtype: float64
141    0.269231
Name: D02355, dtype: float64
141    0.175
Name: D02356, dtype: float64
141    0.142857
Name: D02368, dtype: float64
141    0.241379
Name: D02375, dtype: float64
141    0.189189
Name: D02418, dtype: float64
141    0.2
Name: D02441, dtype: float64
141    0.185185
Name: D02451, dtype: float64
141    0.142857
Name: D02487, dtype: float64
141    0.153846
Name: D02556, dtype: float64
141    0.166667
Name: D02558, dtype: float64
141    0.115385
Name: D02559, dtype: float64
141    0.185185
Name: D02560, dtype: float64
141    0.066667
Name: D02561, dtype: float64
141    0.142857
Name: D02562, dtype: float64
141    0.085714
Name: D02563, dtype: float64
141    0.125
Name: D02564, dtype: float64
141    0.166667
Name: D02566, dtype: float64
141    0.227273
Name: D02579, dtype: float64
141    0.148148
Name: D02580, dtype: float64
141    0.147059
Name: D02581, dtype: float64
141    0.285714
Name: D02655, dtype: float64
141    0.176471
Name: D02671, dtype: float64
141    0.132075
Name: D02698, dtype: float64
141    0.2
Name: D02709, dtype: float64
141    0.205882
Name: D02729, dtype: float64
141    0.219512
Name: D02731, dtype: float64
141    0.125
Name: D02756, dtype: float64
141    0.193548
Name: D02769, dtype: float64
141    0.172414
Name: D02835, dtype: float64
141    0.194444
Name: D02880, dtype: float64
141    0.195122
Name: D03012, dtype: float64
141    0.0
Name: D03034, dtype: float64
141    0.131579
Name: D03077, dtype: float64
141    0.096154
Name: D03115, dtype: float64
141    0.12766
Name: D03208, dtype: float64
141    0.142857
Name: D03217, dtype: float64
141    0.166667
Name: D03218, dtype: float64
141    0.219512
Name: D03252, dtype: float64
141    0.209302
Name: D03260, dtype: float64
141    0.136364
Name: D03350, dtype: float64
141    0.181818
Name: D03365, dtype: float64
141    0.03125
Name: D03433, dtype: float64
141    0.047619
Name: D03440, dtype: float64
141    0.142857
Name: D03601, dtype: float64
141    0.166667
Name: D03643, dtype: float64
141    0.019231
Name: D03670, dtype: float64
141    0.171429
Name: D03689, dtype: float64
141    0.266667
Name: D03710, dtype: float64
141    0.15625
Name: D03712, dtype: float64
141    0.214286
Name: D03714, dtype: float64
141    0.212121
Name: D03716, dtype: float64
141    0.205882
Name: D03717, dtype: float64
141    0.230769
Name: D03720, dtype: float64
141    0.065217
Name: D03722, dtype: float64
141    0.08
Name: D03728, dtype: float64
141    0.166667
Name: D03731, dtype: float64
141    0.074074
Name: D03733, dtype: float64
141    0.153846
Name: D03734, dtype: float64
141    0.12
Name: D03735, dtype: float64
141    0.177778
Name: D03736, dtype: float64
141    0.150943
Name: D03738, dtype: float64
141    0.109589
Name: D03741, dtype: float64
141    0.096154
Name: D03743, dtype: float64
141    0.125
Name: D03745, dtype: float64
141    0.111111
Name: D03751, dtype: float64
141    0.15
Name: D03752, dtype: float64
141    0.081081
Name: D03753, dtype: float64
141    0.095238
Name: D03756, dtype: float64
141    0.111111
Name: D03758, dtype: float64
141    0.1875
Name: D03760, dtype: float64
141    0.090909
Name: D03763, dtype: float64
141    0.095238
Name: D03765, dtype: float64
141    0.089552
Name: D03767, dtype: float64
141    0.078947
Name: D03769, dtype: float64
141    0.047619
Name: D03772, dtype: float64
141    0.128205
Name: D03773, dtype: float64
141    0.075
Name: D03775, dtype: float64
141    0.068182
Name: D03776, dtype: float64
141    0.133333
Name: D03778, dtype: float64
141    0.064935
Name: D03781, dtype: float64
141    0.15625
Name: D03784, dtype: float64
141    0.16129
Name: D03787, dtype: float64
141    0.189189
Name: D03788, dtype: float64
141    0.147059
Name: D03798, dtype: float64
141    0.138889
Name: D03803, dtype: float64
141    0.135135
Name: D03805, dtype: float64
141    0.1875
Name: D03806, dtype: float64
141    0.290323
Name: D03807, dtype: float64
141    0.040541
Name: D03816, dtype: float64
141    0.230769
Name: D03822, dtype: float64
141    0.2
Name: D03823, dtype: float64
141    0.134615
Name: D03826, dtype: float64
141    0.146341
Name: D03828, dtype: float64
141    0.081081
Name: D03829, dtype: float64
141    0.166667
Name: D03845, dtype: float64
141    0.151515
Name: D03882, dtype: float64
141    0.152174
Name: D03899, dtype: float64
141    0.222222
Name: D04023, dtype: float64
141    0.132353
Name: D04024, dtype: float64
141    0.116279
Name: D04025, dtype: float64
141    0.065217
Name: D04028, dtype: float64
141    0.177778
Name: D04029, dtype: float64
141    0.228571
Name: D04031, dtype: float64
141    0.230769
Name: D04092, dtype: float64
141    0.24
Name: D04197, dtype: float64
141    0.206897
Name: D04292, dtype: float64
141    0.095238
Name: D04966, dtype: float64
141    0.045455
Name: D04983, dtype: float64
141    0.032258
Name: D05341, dtype: float64
141    0.25
Name: D05353, dtype: float64
141    0.28
Name: D05407, dtype: float64
141    0.190476
Name: D05458, dtype: float64
141    0.242424
Name: D06238, dtype: float64

In [15]:
y = x.T
y

                 141
Unnamed: 0    D00528
D00002      0.115385
D00005      0.175439
D00007           0.0
D00014           0.0
...              ...
D05341      0.032258
D05353          0.25
D05407          0.28
D05458      0.190476
D06238      0.242424

[446 rows x 1 columns]

In [16]:
list(y.iloc[:, :])

[141]

In [17]:
a = list(y)
a

[141]

In [18]:
x

,Unnamed: 0,D00002,D00005,D00007,D00014,D00018,D00021,D00027,D00029,D00032,...,D04092,D04197,D04292,D04966,D04983,D05341,D05353,D05407,D05458,D06238
141,D00528,0.115385,0.175439,0.0,0.0,0.0,0.083333,0.294118,0.034483,0.136364,...,0.230769,0.24,0.206897,0.095238,0.045455,0.032258,0.25,0.28,0.190476,0.242424

In [19]:
# y.loc[:, '141']

In [20]:
unsymmetric_ddi = pd.read_csv('Unsymmetric_DDI_corpus.csv')
unsymmetric_ddi.head(3)

,Interaction,EffectorDrugID,AffectedDrugID,EffectorDrugLabel,AffectedDrugLabel,Adverse events,Effect,Impact,CUI_1,CUI_2,CUI_AdverseEvent
0,Apixaban may increase the anticoagulant activi...,DB06605,DB00001,Apixaban,Lepirudin,Anticoagulant_activities,NaN,Increase,C1831808,C0772394,C0003280
1,Dabigatran etexilate may increase the anticoag...,DB06695,DB00001,Dabigatran etexilate,Lepirudin,Anticoagulant_activities,NaN,Increase,C1571583,C0772394,C0003280
2,Lepirudin may increase the anticoagulant activ...,DB00001,DB06228,Lepirudin,Rivaroxaban,Anticoagulant_activities,NaN,Increase,C0772394,C1739768,C0003280

In [21]:
unsymmetric_ddi.iloc[0, 0]

'Apixaban may increase the anticoagulant activities of Lepirudin.'

In [22]:
len(unsymmetric_ddi)

1096379