In [1]:
import pandas as pd

In [2]:
all_drugs = pd.read_csv('query.csv')
all_drugs.head()

                                     item drugbank_id kegg_id
0  http://www.wikidata.org/entity/Q409697       00082  D05394
1  http://www.wikidata.org/entity/Q409712       06590  D08884
2  http://www.wikidata.org/entity/Q409721       04573  D00185
3  http://www.wikidata.org/entity/Q409729       00918  D02824
4  http://www.wikidata.org/entity/Q409761       00915  C06818

In [3]:
enzyme = pd.read_csv('enzyme.txt', sep='\t')
enzyme.head()
len(enzyme)

2926

In [4]:
Ion_Channel = pd.read_csv('ic.txt', sep='\t')
Ion_Channel.head()
len(Ion_Channel)

1476

In [5]:
gpcr = pd.read_csv('gpcr.txt', sep='\t')
gpcr.head()
len(gpcr)

635

In [6]:
nr = pd.read_csv('nr.txt', sep='\t')
nr.head()
len(nr)

90

In [7]:
en_drugs = enzyme.iloc[:, 1]
len(set(en_drugs))
en_drugs = list(set(en_drugs))

In [8]:
ic_drugs = Ion_Channel.iloc[:, 1]
len(set(ic_drugs))
ic_drugs = list(set(ic_drugs))

In [9]:
gpcr_drugs = gpcr.iloc[:, 1]
len(set(gpcr_drugs))
gpcr_drugs = list(set(gpcr_drugs))

In [10]:
nr_drugs = nr.iloc[:, 1]
len(set(nr_drugs))
nr_drugs = list(set(nr_drugs))

In [11]:
all_drugs_yamanishi = en_drugs + ic_drugs + gpcr_drugs + nr_drugs
len(all_drugs_yamanishi)

932

In [12]:
all_data_yamanishi = pd.concat([enzyme, Ion_Channel, gpcr, nr])
all_data_yamanishi.head()
len(all_data_yamanishi)

5127

In [13]:
all_data_yamanishi.head()

      target    drug
0     hsa:10  D00002
1     hsa:10  D00448
2    hsa:100  D00037
3    hsa:100  D00155
4  hsa:10056  D00021

In [14]:
tt = []
tt.append((all_data_yamanishi[all_data_yamanishi['drug']=='DB00522'])['target'])
tt

[Series([], Name: target, dtype: object)]

In [15]:
ss = pd.DataFrame((all_data_yamanishi[all_data_yamanishi['drug']=='D01346'])['target'])

In [16]:
ss

         target
109   hsa:11330
175    hsa:1504
1251    hsa:279
2139   hsa:5406
421    hsa:2918

In [17]:
# all_drugs[all_drugs['drug']]

In [18]:
len(all_drugs_yamanishi)

932

In [19]:
# all_drugs['item'] = all_drugs['item'].astype(str)
# all_drugs['drugbank_id'] = all_drugs['drugbank_id'].astype(str)
# all_drugs['kegg_id'] = all_drugs['kegg_id'].astype(str)

In [20]:
# all_drugs = all_drugs.astype(str)

In [21]:
mapped_drug_id = {}
DB_id_list = []
kegg_id_list = []
for item in all_drugs_yamanishi:
    mapped_DB_id = pd.DataFrame(all_drugs['drugbank_id'].where(all_drugs['kegg_id'] == item).dropna())
    # mapped_kg_id = pd.DataFrame(all_drugs['kegg_id'].where(all_drugs['kegg_id'] == item).dropna())
    # mapped_DB_id = mapped_DB_id.astype(int)
    if not mapped_DB_id.empty:
        DB_id_list.append(mapped_DB_id.to_string(index=False, header=False))
        kegg_id_list.append(item)

DB_id_list = ['DB'+ s for s in DB_id_list]
mapped_drug_id['drugBank_id'] = DB_id_list
mapped_drug_id['kegg_id'] = kegg_id_list

In [22]:
len(mapped_drug_id)

2

In [23]:
# all_data_yamanishi

In [24]:
mapped_drug_id = pd.DataFrame(mapped_drug_id)
mapped_drug_id

    drugBank_id kegg_id
0       DB14125  D03077
1       DB00120  D00021
2       DB00939  D02341
3       DB01022  D00148
4       DB00284  D00216
..          ...     ...
491     DB00304  D02367
492     DB00655  D00067
493     DB14512  D00690
494     DB01039  D00565
495     DB01185  D00327

[496 rows x 2 columns]

In [25]:
# all_data_yamanishi = all_data_yamanishi.replace('D01346', 'DB00522')
# all_data_yamanishi[all_data_yamanishi['drug']=='DB00522']

In [26]:
mapped_drug_id.iloc[0, 1]

'D03077'

In [27]:
all_data_yamanishi[all_data_yamanishi['drug']=='D00584']

          target    drug
176   hsa:151531  D00584
797     hsa:1806  D00584
2562    hsa:7083  D00584
2563    hsa:7084  D00584
2613    hsa:7298  D00584
2635    hsa:7372  D00584
2636    hsa:7378  D00584

In [28]:
# all_data_yamanishi = all_data_yamanishi.replace('D00584', 'DB00544')
# all_data_yamanishi[all_data_yamanishi['drug']=='DB00544']

In [29]:
mapped_drug_id.iloc[0, 1]

'D03077'

In [30]:
for i in range(len(mapped_drug_id)):
    all_data_yamanishi = all_data_yamanishi.replace(mapped_drug_id.iloc[i, 1], mapped_drug_id.iloc[i, 0])

In [31]:
all_data_yamanishi

       target     drug
0      hsa:10   D00002
1      hsa:10  DB00795
2     hsa:100   D00037
3     hsa:100   D00155
4   hsa:10056  DB00120
..        ...      ...
85   hsa:8856  DB02789
86   hsa:8856   D00211
87   hsa:8856   D00730
88   hsa:9970  DB01174
89   hsa:9971   D00163

[5127 rows x 2 columns]

In [57]:
all_data_yamanishi.to_csv('all_data_yamanishi.txt', index=False)

In [32]:
all_data_yamanishi.dtypes

target    object
drug      object
dtype: object

In [33]:
all_data_yamanishi["drug"].str.startswith('DB')

0     False
1      True
2     False
3     False
4      True
      ...
85     True
86    False
87    False
88     True
89    False
Name: drug, Length: 5127, dtype: bool

In [34]:
# boolean series returned with False at place of NaN
bool_series = all_data_yamanishi["drug"].str.startswith('DB', na = False)
  
# displaying filtered dataframe
all_data_yamanishi[bool_series]

       target     drug
1      hsa:10  DB00795
4   hsa:10056  DB00120
14  hsa:10269  DB00636
15  hsa:10279  DB00677
16  hsa:10279  DB00513
..        ...      ...
82   hsa:7421  DB00169
83   hsa:7421  DB01070
84   hsa:7421  DB00910
85   hsa:8856  DB02789
88   hsa:9970  DB01174

[3078 rows x 2 columns]

In [35]:
yamanishi_mapped_to_DB = all_data_yamanishi[bool_series]
yamanishi_mapped_to_DB

       target     drug
1      hsa:10  DB00795
4   hsa:10056  DB00120
14  hsa:10269  DB00636
15  hsa:10279  DB00677
16  hsa:10279  DB00513
..        ...      ...
82   hsa:7421  DB00169
83   hsa:7421  DB01070
84   hsa:7421  DB00910
85   hsa:8856  DB02789
88   hsa:9970  DB01174

[3078 rows x 2 columns]

In [36]:
yamanishi_mapped_to_DB = yamanishi_mapped_to_DB[['drug', 'target']]
yamanishi_mapped_to_DB

       drug     target
1   DB00795     hsa:10
4   DB00120  hsa:10056
14  DB00636  hsa:10269
15  DB00677  hsa:10279
16  DB00513  hsa:10279
..      ...        ...
82  DB00169   hsa:7421
83  DB01070   hsa:7421
84  DB00910   hsa:7421
85  DB02789   hsa:8856
88  DB01174   hsa:9970

[3078 rows x 2 columns]

In [37]:
yamanishi_mapped_to_DB.to_csv('yamanishi_mapped_to_DB.csv', index=False)

In [38]:
# yamanishi_mapped_to_DB[yamanishi_mapped_to_DB['drug']=='DB00795']

In [39]:
# mapped_kegg_id = []
# for item in all_drugs_yamanishi:
#     mapped_kg_id = pd.DataFrame(all_drugs['kegg_id'].where(all_drugs['kegg_id'] == item).dropna())
#     # mapped_DB_id = mapped_DB_id.astype(int)
#     if not mapped_kg_id.empty:
#         mapped_kegg_id.append(mapped_kg_id.to_string(index=False, header=False))

In [40]:
# len(mapped_kegg_id)

In [41]:
# len(mapped_drugBank_id)

In [42]:
# enzyme

In [43]:
# mapped_drugBank_id

In [44]:
# l_replace_all = ['DB'+ s for s in mapped_drugBank_id]
# print(l_replace_all)

In [45]:
# all_drugs['drugbank_id'].where(all_drugs['drugbank_id'] == 'SALT001147').dropna().to_string(index=False, header=False)

In [46]:
# all_drugs.iloc[3083, :]

In [47]:
# all_drugs.dtypes

In [48]:
# i=all_drugs[all_drugs['kegg_id']=='D02756']
# print(i['drugbank_id'])

In [49]:
# len(mapped_drugBank_id)

In [50]:
# xx = []

In [51]:
# all_drugs_mapped = pd.DataFrame(all_drugs['drugbank_id'].where(all_drugs['kegg_id'] == 'D03775').dropna())
# # print(all_drugs_mapped.to_string(columns=['drugbank_id']))
# if not all_drugs_mapped.empty:
#     xx.append(all_drugs_mapped.to_string(index=False, header=False))

In [52]:
# if not all_drugs_mapped.empty:
#     print('DataFrame is empty!')

In [53]:
# print(all_drugs_mapped.to_string(index=False, header=False))

In [54]:
# xx

In [55]:
# all_drugs['drugbank_id'].where(all_drugs['kegg_id'] == 'D02756').dropna()

In [56]:
# mapped_drugBank_id